<!DOCTYPE html>
<html lang="en">
<head>
  <title>일일 가격 표</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>주식 정보 아이디</B></td>
            <td><B>코드</B></td>
            <td><B>시간</B></td>
            <td><B>개장</B></td>
            <td><B>최고가</B></td>
            <td><B>최저가</B></td>
            <td><B>마감</B></td>
            <td><B>차이</B></td>
            <td><B>볼륨</B></td>
        </tr>
        </thead>
        <tbody>
        {% for daily_price in info %}
        <tr>
            <td>{{daily_price.id}}번</td>
            <td>{{daily_price.code}}</td>
            <td>{{daily_price.date}}</td>
            <td>{{daily_price.open}}</td>
            <td>{{daily_price.high}}</td>
            <td>{{daily_price.low}}</td>
            <td>{{daily_price.close}}</td>
            <td>{{daily_price.diff}}</td>
            <td>{{daily_price.volume}}</td>

        </tr>
        {% endfor %}
        <tbody>
    </table>
</body>